<div class="aboutus-container">
  <div fxLayout="row wrap" fxLayoutGap="20px">
    <div class="bk-large-card">
      <img class="peopleImage" src="assets/images/people/NPA.jpg">
      <div class="p-12">
        <div class="h3">Paresh Varde</div>
        <div class="h5 secondary-text">System Administrator</div>
      </div>

      <div class="p-12">
        <div class="h3">Address</div>
        <div class="h5 secondary-text">Pune, Maharashtra</div>
      </div>

      <div class="p-12">
        <div class="h3">Contact</div>
        <div class="h5 secondary-text">9970339703</div>
      </div>

      <div class="p-12">
        <div class="h3">Email</div>
        <div class="h5 secondary-text">pareshvarde@yahoo.com</div>
      </div>
    </div>
  </div>
</div>