<div class="aboutus-container">  
  <div class="bk-large-card">
    <div fxLayout="row wrap">
      <div fxLayout="column">
        <img class="peopleImage" src="assets/images/people/NPA.jpg">
      </div>      

      <div fxLayout="column">
        <div class="p-10">
          <div class="h3">Paresh Varde</div>
          <div class="h5 secondary-text">System Administrator</div>
        </div>

        <div class="p-10">
          <div class="h3">Address</div>
          <div class="h5 secondary-text">Pune, Maharashtra</div>
        </div>

        <div class="p-10">
          <div class="h3">Contact</div>
          <div class="h5 secondary-text">9970339703</div>
        </div>

        <div class="p-10">
          <div class="h3">Email</div>
          <div class="h5 secondary-text">pareshvarde@yahoo.com</div>
        </div>              
      </div>
    </div>  
  </div>
</div>