<div class="aboutus-container">
  <div class="bk-large-card">
    <div fxLayout="row wrap" fxLayoutGap="20px">
      <div>
        <img src="assets/images/people/rr.jpg">
      </div>

      <div>
        <div class="h3 secondary-text">In loving memory of Late Shri Rameshwarji Shivlalji Varde (22/12/1922 - 21/04/2013) & Late Smt Ramkunwaribai Rameshwarji Varde (1929 - 06/03/2016)
          <br/>          
          <br/> Gundia, Bharuch, Gujarat
        </div>
      </div>
    </div>
  </div>
  <div class="bk-large-card">
    <div fxLayout="row wrap">
      <div fxLayout="column" class="photoItem">
        <img class="peopleImage" src="assets/images/people/pv.jpg">
      </div>

      <div fxLayout="column" class="detailItem" fxLayoutGap="8px">
        <div>
          <div class="h3">Paresh Varde</div>
          <div class="h5 secondary-text">System Administrator</div>
        </div>

        <div>
          <div class="h3">Address</div>
          <div class="h5 secondary-text">Pune, Maharashtra</div>
        </div>

        <div>
          <div class="h3">Contact</div>
          <div class="h5 secondary-text">9970339703</div>
        </div>

        <div>
          <div class="h3">Email</div>
          <div class="h5 secondary-text">
            <a href="mailto:pareshvarde@yahoo.com">pareshvarde@yahoo.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bk-large-card">
    <div fxLayout="row wrap">
      <div fxLayout="column" class="photoItem">
        <img class="peopleImage" src="assets/images/people/bk.jpg">
      </div>

      <div fxLayout="column" class="detailItem" fxLayoutGap="8px">
        <div>
          <div class="h3">Shri Bhanvar Lal Khatri</div>
          <div class="h5 secondary-text">Promoter & Patron</div>
        </div>

        <div>
          <div class="h3">Address</div>
          <div class="h5 secondary-text">Abohar, Punjab</div>
        </div>

        <div>
          <div class="h3">Contact</div>
          <div class="h5 secondary-text">9888788386</div>
        </div>

        <div>
          <div class="h3">Email</div>
          <div class="h5 secondary-text">
            <a href="mailto:gskdyes@gmail.com">gskdyes@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bk-large-card">
    <div fxLayout="row wrap">
      <div fxLayout="column" class="photoItem">
        <img class="peopleImage" src="assets/images/people/lk.jpg">
      </div>

      <div fxLayout="column" class="detailItem" fxLayoutGap="8px">
        <div>
          <div class="h3">Shri Laxmichand Khatri</div>
          <div class="h5 secondary-text">Promoter & Patron</div>
        </div>

        <div>
          <div class="h3">Address</div>
          <div class="h5 secondary-text">Jodhpur, Rajasthan</div>
        </div>

        <div>
          <div class="h3">Contact</div>
          <div class="h5 secondary-text">9413329265</div>
        </div>

        <div>
          <div class="h3">Email</div>
          <div class="h5 secondary-text">
            <a href="mailto:khatrilc@gmail.com">khatrilc@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bk-large-card">
    <div fxLayout="row wrap">
      <div fxLayout="column" class="photoItem">
        <img class="peopleImage" src="assets/images/people/hv.jpg">
      </div>

      <div fxLayout="column" class="detailItem" fxLayoutGap="8px">
        <div>
          <div class="h3">Shri Hemraj Varde</div>
          <div class="h5 secondary-text">Promoter</div>
        </div>

        <div>
          <div class="h3">Address</div>
          <div class="h5 secondary-text">Gundia, Gujarat</div>
        </div>

        <div>
          <div class="h3">Contact</div>
          <div class="h5 secondary-text">9879912042</div>
        </div>

        <div>
          <div class="h3">Email</div>
          <div class="h5 secondary-text">
            <a href="mailto:hemrajvarde@yahoo.in">hemrajvarde@yahoo.in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bk-large-card">
    <div fxLayout="row wrap">
      <div fxLayout="column" class="photoItem">
        <img class="peopleImage" src="assets/images/people/ak.jpg">
      </div>

      <div fxLayout="column" class="detailItem" fxLayoutGap="8px">
        <div>
          <div class="h3">Shri Ashok Khatri</div>
          <div class="h5 secondary-text">Promoter</div>
        </div>

        <div>
          <div class="h3">Address</div>
          <div class="h5 secondary-text">Jaisalmer, Rajasthan</div>
        </div>

        <div>
          <div class="h3">Contact</div>
          <div class="h5 secondary-text">8003838101</div>
        </div>

        <div>
          <div class="h3">Email</div>
          <div class="h5 secondary-text">
            <a href="mailto:kiri.ashok@gmail.com">kiri.ashok@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>