@import "src/app/core/scss/bk";

:host{
    width: 100%;

    .aboutus-container{
        .peopleImage{
            width: 200px;
        }
    }

    .detailItem{                        
        padding-top: 10px;        
    }

    .photoItem{
        margin-right: 20px;

        @include media-breakpoint('xs') {            
            width: 100%;
        }
    }
}