mat-form-field {
    width: 300px;
    margin-right: 20px;
}        

form {
    width: 100%;    
    padding-top: 1px;                                       

    .submit-button {                        
        margin: 16px;
        display: block;
    }                                    
}             

.memberCard
{
    margin: 10px;
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
}

.searchResultHeader{
    padding-left: 10px;
}

.avatar{
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    min-width: 50px !important;
    cursor: pointer;
}

.profileHeader{
    padding-bottom: 10px;
}
