mat-form-field {
    width: 300px;
    margin-right: 20px;
}        

form {
    width: 100%;
    text-align: left;
    padding-top: 1px;                                       

    .submit-button {                        
        margin: 16px;
        display: block;
    }                                    
}             

.memberCard
{
    margin: 10px;
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
}