<div id="member" fxLayout="column">
  <div id="member-form-wrapper" fxLayout="column" fxLayoutAlign="top center">
    <div id="member-form">
      <div *ngIf="memberModel.firstName" class="title">{{memberModel.firstName}} {{memberModel.lastName}}'s Profile</div>
      <div fxLayout="row wrap">
        <mat-form-field>
          <mat-select matTooltip="Head Of Family" placeholder="Family" (ngModelChange)="loadFamily()" [(ngModel)]="familyId">
            <mat-option *ngFor="let n of familyLookup" [value]="n.familyId">
              {{ n.hof }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-radio-group *ngIf="addMode" fxLayoutAlign="start center" [(ngModel)]="existingAdd">
          <mat-radio-button class="mr-8" [value]="false">
            New
          </mat-radio-button>
          <mat-radio-button class="mr-8" [value]="true">
            Existing
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="addMode && existingAdd == null" fxLayout="row" fxLayoutAlign="center center">
        <button matTooltip="Cancel" fxHide fxShow.gt-sm mat-raised-button (click)="back()" color="accent" class="submit-button" aria-label="CANCEL">
          <mat-icon>cancel</mat-icon>&nbsp;CANCEL
        </button>
        <button matTooltip="Cancel" fxShow fxHide.gt-sm mat-mini-fab (click)="back()" color="accent" class="submit-button" aria-label="CANCEL">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <div *ngIf="existingAdd === false || !addMode">
        <form name="memberForm" [formGroup]="memberForm" novalidate>

          <div fxLayout="row wrap">
            <mat-form-field>
              <input maxlength="50" matInput [(ngModel)]="memberModel.firstName" placeholder="First Name" formControlName="firstName" bkAutofocus>
              <mat-error *ngIf="memberForm.controls['firstName'].hasError('required')">Please provide a first name</mat-error>
              <mat-error *ngIf="memberForm.controls['firstName'].hasError('nowhitespace')">Only letters without space</mat-error>
              <mat-error *ngIf="memberForm.controls['firstName'].hasError('maxlength')">Maximum 50 characters allowed</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input maxlength="50" matInput [(ngModel)]="memberModel.lastName" placeholder="Last Name" formControlName="lastName">
              <mat-error *ngIf="memberForm.controls['lastName'].hasError('required')">Please provide a last name</mat-error>
              <mat-error *ngIf="memberForm.controls['lastName'].hasError('nowhitespace')">Only letters without space</mat-error>
              <mat-error *ngIf="memberForm.controls['lastName'].hasError('maxlength')">Maximum 50 characters allowed</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input maxlength="50" matInput [(ngModel)]="memberModel.nickName" placeholder="Nick Name" formControlName="nickName">
              <mat-error *ngIf="memberForm.controls['nickName'].hasError('nowhitespace')">Only letters without space</mat-error>
              <mat-error *ngIf="memberForm.controls['nickName'].hasError('maxlength')">Maximum 50 characters allowed</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap">
            <mat-form-field>
              <input maxlength="100" matInput type="email" [(ngModel)]="memberModel.email" placeholder="Email" formControlName="email">
              <mat-error *ngIf="memberForm.controls['email'].hasError('email')">Please provide valid email address</mat-error>
              <mat-error *ngIf="memberForm.controls['email'].hasError('maxlength')">Maximum 100 characters allowed</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input type="number" matInput [(ngModel)]="memberModel.phoneNumber" placeholder="Phone Number" formControlName="phoneNumber">
              <mat-error *ngIf="memberForm.controls['phoneNumber'].hasError('isnumber')">Only numbers without space</mat-error>
              <mat-error *ngIf="memberForm.controls['phoneNumber'].hasError('nowhitespace')">Only numbers without space</mat-error>
              <mat-error *ngIf="memberForm.controls['phoneNumber'].hasError('maxlength')">Maximum 15 characters allowed</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input type="number" matInput [(ngModel)]="memberModel.aadhaarNumber" placeholder="Aadhaar Number" formControlName="aadhaarNumber">
              <mat-error *ngIf="memberForm.controls['aadhaarNumber'].hasError('isNumber')">Only numbers without space</mat-error>
              <mat-error *ngIf="memberForm.controls['aadhaarNumber'].hasError('maxlength')">Maximum 16 characters allowed</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap">
            <mat-form-field>
              <mat-select placeholder="Gender" [(ngModel)]="memberModel.gender" formControlName="gender">
                <mat-option value='M'>
                  Male
                </mat-option>
                <mat-option value='F'>
                  Female
                </mat-option>
                <mat-option value='O'>
                  Other
                </mat-option>
              </mat-select>

              <mat-error *ngIf="memberForm.controls['gender'].hasError('required')">Please select gender</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput [(ngModel)]="memberModel.dob" (focus)="picker.open()" [matDatepicker]="picker" placeholder="Date Of Birth"
                formControlName="dob">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="memberForm.controls['dob'].hasError('required')">Please provide date of birth</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input maxlength="50" matInput [(ngModel)]="memberModel.birthPlace" placeholder="Birth Place" formControlName="birthPlace">
              <mat-error *ngIf="memberForm.controls['birthPlace'].hasError('maxlength')">Maximum 50 characters allowed</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap">
            <mat-form-field>
              <mat-select placeholder="Alive?" [(ngModel)]="memberModel.alive" formControlName="alive">
                <mat-option [value]=true>
                  Yes
                </mat-option>
                <mat-option [value]=false>
                  No
                </mat-option>
              </mat-select>
              <mat-error *ngIf="memberForm.controls['alive'].hasError('required')">Please select living status</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="!memberModel.alive">
              <input matInput [(ngModel)]="memberModel.dod" (focus)="dodPicker.open()" [matDatepicker]="dodPicker" placeholder="Date Of Death"
                formControlName="dod">
              <mat-datepicker-toggle matSuffix [for]="dodPicker"></mat-datepicker-toggle>
              <mat-datepicker #dodPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field *ngIf="!memberModel.alive">
              <input matInput [(ngModel)]="memberModel.deathPlace" placeholder="Death Place" formControlName="deathPlace">
            </mat-form-field>
          </div>

          <div fxLayout="row wrap">
            <mat-form-field>
              <mat-select placeholder="Marital Status" [(ngModel)]="memberModel.married" formControlName="married">
                <mat-option [value]=true>
                  Yes
                </mat-option>
                <mat-option [value]=false>
                  No
                </mat-option>
              </mat-select>
              <mat-error *ngIf="memberForm.controls['married'].hasError('required')">Please select Marital status</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Relation" [(ngModel)]="memberModel.relationTypeId" formControlName="relationTypeId">
                <mat-option *ngFor="let n of getRelations()" [value]="n.relationTypeId">
                  {{ n.relationType }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Relation With" [(ngModel)]="memberModel.relatedMemberId" formControlName="relatedMemberId">
                <mat-option *ngFor="let n of familyModel.members" [value]="n.memberId">
                  {{ n.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap">
            <mat-form-field>
              <input maxlength="50" matInput [(ngModel)]="memberModel.educationLevel" placeholder="Education Level" formControlName="educationLevel">
              <mat-error *ngIf="memberForm.controls['educationLevel'].hasError('maxlength')">Maximum 50 characters allowed</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input maxlength="50" matInput [(ngModel)]="memberModel.educationField" placeholder="Education Field" formControlName="educationField">
              <mat-error *ngIf="memberForm.controls['educationField'].hasError('maxlength')">Maximum 50 characters allowed</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap">
            <mat-form-field>
              <mat-select placeholder="Occupation" [(ngModel)]="memberModel.occupationId" formControlName="occupationId">
                <mat-option *ngFor="let n of OCCUPATION_DATA_LOCAL" [value]="n.id">
                  {{ n.occupation }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input maxlength="50" matInput [(ngModel)]="memberModel.companyName" placeholder="Company Name" formControlName="companyName">
              <mat-error *ngIf="memberForm.controls['companyName'].hasError('maxlength')">Maximum 50 characters allowed</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input maxlength="50" matInput [(ngModel)]="memberModel.jobTitle" placeholder="Job Title" formControlName="jobTitle">
              <mat-error *ngIf="memberForm.controls['jobTitle'].hasError('maxlength')">Maximum 50 characters allowed</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap">
            <mat-form-field>
              <input maxlength="50" matInput [(ngModel)]="memberModel.facebookHandle" placeholder="Facebook Handle" formControlName="facebookHandle">
              <mat-error *ngIf="memberForm.controls['facebookHandle'].hasError('nowhitespace')">Please provide handle without space</mat-error>
              <mat-error *ngIf="memberForm.controls['facebookHandle'].hasError('maxlength')">Maximum 50 characters allowed</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input maxlength="50" matInput [(ngModel)]="memberModel.instagramHandle" placeholder="Instagram Handle" formControlName="instagramHandle">
              <mat-error *ngIf="memberForm.controls['instagramHandle'].hasError('nowhitespace')">Please provide handle without space</mat-error>
              <mat-error *ngIf="memberForm.controls['instagramHandle'].hasError('maxlength')">Maximum 50 characters allowed</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input maxlength="50" matInput [(ngModel)]="memberModel.twitterHandle" placeholder="Twitter Handle" formControlName="twitterHandle">
              <mat-error *ngIf="memberForm.controls['twitterHandle'].hasError('nowhitespace')">Please provide handle without space</mat-error>
              <mat-error *ngIf="memberForm.controls['twitterHandle'].hasError('maxlength')">Maximum 50 characters allowed</mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="(editMode || addMode) && memberModel.canEdit" fxLayout="row" fxLayoutAlign="center center">
            <button matTooltip="Save" mat-raised-button fxHide fxShow.gt-sm (click)="saveMember()" color="accent" class="submit-button"
              aria-label="SAVE">
              <mat-icon>save</mat-icon>&nbsp;SAVE
            </button>
            <button matTooltip="Save" mat-mini-fab fxShow fxHide.gt-sm (click)="saveMember()" color="accent" class="submit-button" aria-label="SAVE">
              <mat-icon>save</mat-icon>
            </button>
            <button matTooltip="Cancel" mat-raised-button fxHide fxShow.gt-sm (click)="cancelEdit()" class="submit-button" aria-label="CANCEL">
              <mat-icon>cancel</mat-icon>&nbsp;CANCEL
            </button>
            <button matTooltip="Cancel" mat-mini-fab fxShow fxHide.gt-sm (click)="cancelEdit()" class="submit-button" aria-label="CANCEL">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          <div *ngIf="!editMode && !addMode" fxLayout="row" fxLayoutAlign="center center">
            <button matTooltip="Family Detail" fxHide fxShow.gt-sm mat-raised-button [routerLink]="['/family/', this.familyId]" color="accent"
              class="submit-button" aria-label="FAMILY">
              <mat-icon>group</mat-icon>&nbsp;FAMILY
            </button>
            <button matTooltip="Family Detail" fxShow fxHide.gt-sm mat-mini-fab [routerLink]="['/family/', this.familyId]" color="accent"
              class="submit-button" aria-label="FAMILY">
              <mat-icon>group</mat-icon>
            </button>
            <button matTooltip="Edit" *ngIf="memberModel.canEdit" fxHide fxShow.gt-sm mat-raised-button (click)="edit()" color="accent"
              class="submit-button" aria-label="EDIT">
              <mat-icon>edit</mat-icon>&nbsp;EDIT
            </button>
            <button matTooltip="Edit" *ngIf="memberModel.canEdit" fxShow fxHide.gt-sm mat-mini-fab (click)="edit()" color="accent" class="submit-button"
              aria-label="EDIT">
              <mat-icon>edit</mat-icon>
            </button>
            <button matTooltip="Mark Default Family" *ngIf="(memberModel.canEdit && !memberModel.defaultFamily)" fxHide fxShow.gt-sm mat-raised-button (click)="markDefaultFamily()"
              color="accent" class="submit-button" aria-label="Mark Default">
              <mat-icon>accessibility</mat-icon>&nbsp;MARK DEFAULT
            </button>
            <button matTooltip="Mark Default Family" *ngIf="(memberModel.canEdit && !memberModel.defaultFamily)" fxShow fxHide.gt-sm mat-mini-fab (click)="markDefaultFamily()"
              color="accent" class="submit-button" aria-label="Mark Default">
              <mat-icon>accessibility</mat-icon>
            </button>
            <button matTooltip="Go Back" fxHide fxShow.gt-sm mat-raised-button (click)="back()" class="submit-button" aria-label="CANCEL">
              <mat-icon>backspace</mat-icon>&nbsp;BACK
            </button>
            <button matTooltip="Go Back" fxShow fxHide.gt-sm mat-mini-fab (click)="back()" class="submit-button" aria-label="CANCEL">
              <mat-icon>backspace</mat-icon>
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="existingAdd">
        <form name="searchForm" [formGroup]="searchForm" novalidate>
          <div fxLayout="row wrap">
            <mat-form-field>
              <input matInput type="number" [(ngModel)]="searchModel.memberId" placeholder="Member Id" formControlName="memberId" bkAutofocus>
              <mat-error *ngIf="searchForm.controls['memberId'].hasError('isnumber')">Please enter only numbers</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap">
            <mat-form-field>
              <input type="number" matInput [(ngModel)]="searchModel.phoneNumber" placeholder="Mobile Number" formControlName="phoneNumber">
              <mat-error *ngIf="searchForm.controls['phoneNumber'].hasError('isnumber')">Please enter only numbers</mat-error>
              <mat-error *ngIf="searchForm.controls['phoneNumber'].hasError('maxlength')">Maximum 15 characters allowed</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap">
            <mat-form-field>
              <input type="number" matInput [(ngModel)]="searchModel.aadhaarNumber" placeholder="Aadhaar Number" formControlName="aadhaarNumber">
              <mat-error *ngIf="searchForm.controls['aadhaarNumber'].hasError('isnumber')">Please enter only numbers</mat-error>
              <mat-error *ngIf="searchForm.controls['aadhaarNumber'].hasError('maxlength')">Maximum 16 characters allowed</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row wrap">
            <mat-form-field>
              <input maxlength="100" matInput type="email" [(ngModel)]="searchModel.emailAddress" placeholder="Email Address" formControlName="emailAddress">
              <mat-error *ngIf="searchForm.controls['emailAddress'].hasError('email')">Please provide valid email address</mat-error>
              <mat-error *ngIf="searchForm.controls['emailAddress'].hasError('maxlength')">Maximum 100 characters allowed</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center">
            <button matTooltip="Search" fxHide fxShow.gt-sm mat-raised-button (click)="searchMember()" color="accent" class="submit-button"
              aria-label="SAVE">
              <mat-icon>search</mat-icon>&nbsp;SEARCH
            </button>
            <button matTooltip="Search" fxShow fxHide.gt-sm mat-mini-fab (click)="searchMember()" color="accent" class="submit-button"
              aria-label="SAVE">
              <mat-icon>search</mat-icon>
            </button>
            <button matTooltip="Clear" fxHide fxShow.gt-sm mat-raised-button (click)="back()" class="submit-button" aria-label="CANCEL">
              <mat-icon>cancel</mat-icon>&nbsp;CANCEL
            </button>
            <button matTooltip="Clear" fxShow fxHide.gt-sm mat-mini-fab (click)="back()" class="submit-button" aria-label="CANCEL">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </form>
        <div id="searchResult" *ngIf="searchMemberModel">
          <span fxLayout="row" class="mat-subheading-1">Name: {{searchMemberModel.firstName}} {{searchMemberModel.lastName}}</span>
          <span fxLayout="row" class="mat-subheading-1">Gender: {{searchMemberModel.gender}}</span>
          <span fxLayout="row" class="mat-subheading-1">Date Of Birth: {{searchMemberModel.dob | amDateFormat:'LL'}}</span>

          <div fxLayout="row wrap">
            <mat-form-field>
              <mat-select placeholder="Relation" [(ngModel)]="memberModel.relationTypeId">
                <mat-option *ngFor="let n of getRelations()" [value]="n.relationTypeId">
                  {{ n.relationType }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Relation With" [(ngModel)]="memberModel.relatedMemberId">
                <mat-option *ngFor="let n of familyModel.members" [value]="n.memberId">
                  {{ n.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center">
            <button matTooltip="Add" fxHide fxShow.gt-sm mat-raised-button (click)="addToFamily()" color="accent" class="submit-button"
              aria-label="ADD">
              <mat-icon>add_box</mat-icon>&nbsp;ADD
            </button>
            <button matTooltip="Add" fxHide.gt-sm mat-mini-fab (click)="addToFamily()" color="accent" class="submit-button" aria-label="ADD">
              <mat-icon>add_box</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>