@import "src/app/core/scss/bk";

:host {

    width: 100% !important;
    height: 100% !important;

    #member {
        width: 100%;
        height: 100%;
        overflow: auto;        
        background-size: cover;

        #member-form-wrapper {
            flex: 1 0 auto;                     

            #member-form {       
                width: 100%;                         
                padding: 10px;
                text-align: center;                                

                .modifiedOn{
                    padding-bottom: 15px;
                }

                .header{
                    padding-bottom: 15px;
                }
                
                .avatar{
                    border-radius: 50%;
                    width: 100px !important;
                    height: 100px !important;
                    min-width: 100px !important;
                    cursor: pointer;
                }
             
                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }
               
                mat-form-field {
                    width: 300px;
                    margin-right: 20px;
                }              
                
                form {
                    width: 100%;
                    text-align: left;
                    padding-top: 1px;                                       

                    .submit-button {                        
                        margin: 16px;
                        display: block;
                    }                                    
                }                              
            }
        }
    }
}