<button #openButton mat-icon-button class="open-button mat-primary-bg mat-elevation-z2" (click)="openBar()">
    <mat-icon>search</mat-icon>
</button>

<div class="theme-options-panel-overlay" #overlay [fxHide]="barClosed" [@fadeInOut]="!barClosed"></div>

<div #panel class="theme-options-panel mat-white-bg mat-elevation-z8">

    <button mat-icon-button class="close-button" (click)="closeBar()">
        <mat-icon>close</mat-icon>
    </button>

    <div class="theme-options-panel-inner" fxLayout="column" fxLayoutAlign="start start">
        <mat-divider></mat-divider>
    </div>

</div>
