<div id="matrimony" fxLayout="column">
  <div id="matrimony-form-wrapper" fxLayout="column" fxLayoutAlign="top center">
    <div id="matrimony-form">
      <form name="matrimonyForm" [formGroup]="matrimonyForm" novalidate>

        <div fxLayout="row" fxLayoutWrap>
          <mat-form-field>
            <mat-select placeholder="Maternal Nukh" [(ngModel)]="model.maternalNukhId" formControlName="maternalNukhId">
              <mat-option *ngFor="let n of NUKHS_LOOKUP_DATA_LOCAL" [value]="n.id">
                {{ n.nukh }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Marital Status" [(ngModel)]="model.maritalStatusId" formControlName="maritalStatusId">
              <mat-option *ngFor="let n of MARITAL_STATUS_DATA_LOCAL" [value]="n.id">
                {{ n.status }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutWrap>
          <mat-form-field>
            <input matInput type="time" [(ngModel)]="model.birthTime" placeholder="Birth Time" formControlName="birthTime">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Height" [(ngModel)]="model.height" formControlName="height">
              <mat-option *ngFor="let n of HEIGHT_DATA_LOCAL" [value]="n.id">
                {{ n.feet }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="model.weight" placeholder="Weight" formControlName="weight">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutWrap>
          <mat-form-field>
            <mat-select placeholder="Body" [(ngModel)]="model.bodyTypeID" formControlName="bodyTypeId">
              <mat-option *ngFor="let n of BODYTYPE_DATA_LOCAL" [value]="n.id">
                {{ n.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Complexion" [(ngModel)]="model.complexionTypeId" formControlName="complexionTypeId">
              <mat-option *ngFor="let n of COMPLEXION_DATA_LOCAL" [value]="n.id">
                {{ n.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Mangal" [(ngModel)]="model.mangal" formControlName="manglik">
              <mat-option value='N'>
                NOT MANGLIK
              </mat-option>
              <mat-option value='A'>
                AANSHIK MANGLIK
              </mat-option>
              <mat-option value='M'>
                MANGLIK
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutWrap>
          <mat-form-field>
            <input matInput [(ngModel)]="model.monthlyIncome" placeholder="Monthly Income" formControlName="monthlyIncome">
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="model.language" placeholder="Mother Tongue" formControlName="language">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutWrap>

          <mat-form-field>
            <mat-select placeholder="Smoke" [(ngModel)]="model.smoke" formControlName="smoke">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field>
            <mat-select placeholder="Alcohol" [(ngModel)]="model.alcohol" formControlName="alcohol">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Tobacco" [(ngModel)]="model.tobacco" formControlName="tobacco">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutWrap>
          <mat-form-field>
            <mat-select placeholder="Disability" [(ngModel)]="model.disability" formControlName="disability">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Vegetarian" [(ngModel)]="model.vegetarian" formControlName="vegetarian">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Own Home" [(ngModel)]="model.ownHome" formControlName="ownHome">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutWrap>
          <mat-form-field class="mat-form-field-fullwidth">
            <textarea matInput [(ngModel)]="model.profileText" placeholder="Profile Description" matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="5" formControlName="profileText"></textarea>
          </mat-form-field>
        </div>

        <div *ngIf="editMode && model.canEdit" fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="accent" class="submit-button" aria-label="SAVE" [disabled]="matrimonyForm.invalid">
            SAVE
          </button>
          <button mat-raised-button class="submit-button" aria-label="CANCEL">
            CANCEL
          </button>
        </div>
        <div *ngIf="!editMode" fxLayout="row" fxLayoutAlign="center center">
          <button *ngIf="model.canEdit" mat-raised-button color="accent" class="submit-button" aria-label="EDIT">
            EDIT
          </button>
          <button mat-raised-button class="submit-button" aria-label="CANCEL">
            BACK
          </button>
        </div>
      </form>
    </div>
  </div>
</div>