<mat-sidenav-container>

    <div id="bk-main-content">

        <!-- TOOLBAR: Above -->
        <ng-container *ngIf="bkSettings.layout.toolbar === 'above'">
            <bk-toolbar class="above" [ngClass]="bkSettings.colorClasses.toolbar"></bk-toolbar>
        </ng-container>
        <!-- / TOOLBAR: Above -->

        <!-- NAVBAR: Top -->
        <bk-navbar-horizontal class="top-navbar" fxHide fxShow.gt-md
                                [ngClass]="bkSettings.colorClasses.navbar"
                                *ngIf="bkSettings.layout.navigation === 'top'">
        </bk-navbar-horizontal>
        <!-- / NAVBAR: Top -->

        <div id="wrapper">

            <!-- NAVBAR: Left -->
            <bk-navbar-vertical [folded]="bkSettings.layout.navigationFolded"
                                  class="left-navbar"
                                  [ngClass]="bkSettings.colorClasses.navbar"
                                  *ngIf="bkSettings.layout.navigation === 'left' || bkSettings.layout.navigation === 'top'">
            </bk-navbar-vertical>
            <!-- / NAVBAR: Left -->

            <div class="content-wrapper">

                <!-- TOOLBAR: Below -->
                <ng-container *ngIf="bkSettings.layout.toolbar === 'below'">
                    <bk-toolbar class="below" [ngClass]="bkSettings.colorClasses.toolbar"></bk-toolbar>
                </ng-container>
                <!-- / TOOLBAR: Below -->

                <bk-content></bk-content>

                <!-- FOOTER: Below -->
                <!-- <ng-container *ngIf="bkSettings.layout.footer === 'below'">
                    <bk-footer class="below" [ngClass]="bkSettings.colorClasses.footer"></bk-footer>
                </ng-container> -->
                <!-- / FOOTER: Below -->

            </div>

            <!-- NAVBAR: Right -->
            <bk-navbar-vertical [folded]="bkSettings.layout.navigationFolded"
                                  class="right-navbar"
                                  [ngClass]="bkSettings.colorClasses.navbar"
                                  *ngIf="bkSettings.layout.navigation === 'right'">
            </bk-navbar-vertical>
            <!-- / NAVBAR: Right -->

        </div>
    </div>
</mat-sidenav-container>
