<div id="matrimony-view" fxLayout="column">
  <div id="matrimony-view-form-wrapper" fxLayout="column" fxLayoutAlign="top center">
    <div *ngIf="model" id="matrimony-view-form" class="bk-large-card">
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <img *ngIf="model.memberModel.photoUrl" (click)="showPhoto()" class="avatar" src="{{model.memberModel.photoUrl}}" />
      </div>      
      <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div *ngIf="model.memberModel.firstName" class="title">{{model.memberModel.firstName}} {{model.memberModel.lastName}}</div>
      </div>

      <div fxLayout="row wrap" class="modifiedOn mat-caption" fxLayoutAlign="top center">Last Modified {{model.memberModel.modifiedOn | amLocal | amTimeAgo}}</div>
      <form name="matrimonyViewForm" [formGroup]="matrimonyViewForm">
        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.firstName" placeholder="First Name" formControlName="firstName">
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.lastName" placeholder="Last Name" formControlName="lastName">
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.nickName" placeholder="Nick Name" formControlName="nickName">
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.email" placeholder="Email" formControlName="email">
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.phoneNumber" placeholder="Phone Number" formControlName="phoneNumber">
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.aadhaarNumber" placeholder="Aadhaar Number" formControlName="aadhaarNumber">
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Gender" [(ngModel)]="model.memberModel.gender" formControlName="gender">
              <mat-option [value]=true>
                Male
              </mat-option>
              <mat-option [value]=false>
                Female
              </mat-option>              
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.dob" (focus)="picker.open()" [matDatepicker]="picker" placeholder="Date Of Birth"
              formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.birthPlace" placeholder="Birth Place" formControlName="birthPlace">
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.educationLevel" placeholder="Education Level" formControlName="educationLevel">
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.educationField" placeholder="Education Field" formControlName="educationField">
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Occupation" [(ngModel)]="model.memberModel.occupationId" formControlName="occupationId">
              <mat-option *ngFor="let n of OCCUPATION_DATA_LOCAL" [value]="n.id">
                {{ n.occupation }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.companyName" placeholder="Company Name" formControlName="companyName">
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.jobTitle" placeholder="Job Title" formControlName="jobTitle">
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.facebookHandle" placeholder="Facebook Handle" formControlName="facebookHandle">
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.instagramHandle" placeholder="Instagram Handle" formControlName="instagramHandle">
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.memberModel.twitterHandle" placeholder="Twitter Handle" formControlName="twitterHandle">
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Maternal Nukh" [(ngModel)]="model.matrimonyModel.maternalNukhId" formControlName="maternalNukhId"
              bkAutofocus>
              <mat-option *ngFor="let n of NUKHS_LOOKUP_DATA_LOCAL" [value]="n.id">
                {{ n.nukh }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Marital Status" [(ngModel)]="model.matrimonyModel.maritalStatusId" formControlName="maritalStatusId">
              <mat-option *ngFor="let n of MARITAL_STATUS_DATA_LOCAL" [value]="n.id">
                {{ n.status }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput type="time" [(ngModel)]="model.matrimonyModel.birthTime" placeholder="Birth Time" formControlName="birthTime">
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Height" [(ngModel)]="model.matrimonyModel.height" formControlName="height">
              <mat-option *ngFor="let n of HEIGHT_DATA_LOCAL" [value]="n.id">
                {{ n.feet }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.matrimonyModel.weight" placeholder="Weight" formControlName="weight">
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Body" [(ngModel)]="model.matrimonyModel.bodyTypeId" formControlName="bodyTypeId">
              <mat-option *ngFor="let n of BODYTYPE_DATA_LOCAL" [value]="n.id">
                {{ n.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Complexion" [(ngModel)]="model.matrimonyModel.complexionTypeId" formControlName="complexionTypeId">
              <mat-option *ngFor="let n of COMPLEXION_DATA_LOCAL" [value]="n.id">
                {{ n.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Mangal" [(ngModel)]="model.matrimonyModel.mangal" formControlName="manglik">
              <mat-option value='N'>
                NOT MANGLIK
              </mat-option>
              <mat-option value='A'>
                AANSHIK MANGLIK
              </mat-option>
              <mat-option value='M'>
                MANGLIK
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.matrimonyModel.monthlyIncome" placeholder="Monthly Income" formControlName="monthlyIncome">
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <input matInput [(ngModel)]="model.matrimonyModel.language" placeholder="Mother Tongue" formControlName="language">
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Smoke" [(ngModel)]="model.matrimonyModel.smoke" formControlName="smoke">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Alcohol" [(ngModel)]="model.matrimonyModel.alcohol" formControlName="alcohol">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Tobacco" [(ngModel)]="model.matrimonyModel.tobacco" formControlName="tobacco">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Disability" [(ngModel)]="model.matrimonyModel.disability" formControlName="disability">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Vegetarian" [(ngModel)]="model.matrimonyModel.vegetarian" formControlName="vegetarian">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'">
            <mat-select placeholder="Own Home" [(ngModel)]="model.matrimonyModel.ownHome" formControlName="ownHome">
              <mat-option [value]=true>
                YES
              </mat-option>
              <mat-option [value]=false>
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field [floatLabel]="this.matrimonyViewForm.disabled ? 'always':'auto'" class="mat-form-field-fullwidth">
            <textarea matInput [(ngModel)]="model.matrimonyModel.profileText" placeholder="Profile Description" matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="5" formControlName="profileText"></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
          <button matTooltip="View Family" mat-raised-button fxHide fxShow.gt-sm [routerLink]="['/family/', model.memberModel.familyId]"
            color="accent" class="submit-button" aria-label="FAMILY">
            <mat-icon>group</mat-icon>&nbsp;FAMILY
          </button>
          <button matTooltip="View Family" mat-mini-fab fxShow fxHide.gt-sm [routerLink]="['/family/', model.memberModel.familyId]"
            color="accent" class="submit-button" aria-label="FAMILY">
            <mat-icon>group</mat-icon>
          </button>
          <button matTooltip="Go Back" mat-raised-button fxHide fxShow.gt-sm (click)="back()" class="submit-button" aria-label="CANCEL">
            <mat-icon>backspace</mat-icon>&nbsp;BACK
          </button>
          <button matTooltip="Go Back" mat-mini-fab fxShow fxHide.gt-sm (click)="back()" class="submit-button" aria-label="CANCEL">
            <mat-icon>backspace</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>