<div id="matrimony-view" fxLayout="column">
  <div id="matrimony-view-form-wrapper" fxLayout="column" fxLayoutAlign="top center">
    <div *ngIf="model" id="matrimony-view-form">
      <form name="matrimonyForm-view">
          <div fxLayout="row wrap">
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.firstName" placeholder="First Name" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.lastName" placeholder="Last Name" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.nickName" placeholder="Nick Name" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
  
            <div fxLayout="row wrap">
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.email" placeholder="Email" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.phoneNumber" placeholder="Phone Number" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.aadhaarNumber" placeholder="Aadhaar Number" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
  
            <div fxLayout="row wrap">
              <mat-radio-group fxLayoutAlign="start center" [(ngModel)]="model.memberModel.gender" [ngModelOptions]="{standalone: true}">
                <mat-radio-button class="mr-8" value='M'>
                  Male
                </mat-radio-button>
                <mat-radio-button class="mr-8" value='F'>
                  Female
                </mat-radio-button>
                <mat-radio-button class="mr-8" value='O'>
                  Other
                </mat-radio-button>
              </mat-radio-group>
  
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.dob" (focus)="picker.open()" [matDatepicker]="picker" placeholder="Date Of Birth" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.birthPlace" placeholder="Birth Place" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>              
  
            <div fxLayout="row wrap">
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.educationLevel" placeholder="Education Level" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.educationField" placeholder="Education Field" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
  
            <div fxLayout="row wrap">
              <mat-form-field>
                <mat-select placeholder="Occupation" [(ngModel)]="model.memberModel.occupationId" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let n of OCCUPATION_DATA_LOCAL" [value]="n.id">
                    {{ n.occupation }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.companyName" placeholder="Company Name" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.jobTitle" placeholder="Job Title" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
  
            <div fxLayout="row wrap">
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.facebookHandle" placeholder="Facebook Handle" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.instagramHandle" placeholder="Instagram Handle" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
  
              <mat-form-field>
                <input matInput [(ngModel)]="model.memberModel.twitterHandle" placeholder="Twitter Handle" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
  
            <div fxLayout="row" fxLayoutAlign="center center">
              <button mat-raised-button [routerLink]="['/family/', this.familyId]" color="accent" class="submit-button" aria-label="FAMILY">
                <mat-icon>group</mat-icon>&nbsp;FAMILY
              </button>              
              <button mat-raised-button (click)="back()" class="submit-button" aria-label="CANCEL">
                <mat-icon>backspace</mat-icon>&nbsp;BACK
              </button>
            </div>
      </form>
    </div>
  </div>
</div>