<div id="fork" fxLayout="column">
    <div id="fork-form-wrapper" fxLayout="column" fxLayoutAlign="top center">
      <div id="fork-form">
        
  
        <div class="title">Family Fork</div>
  
        <div class="information" fxLayout="column" fxLayoutAlign="top left">
          <ol>
            <li>Please provide correct email address. You will receive your login information on provided email address</li>          
            <li>Try to provide both Phone number and Aadhaar number to keep you unique in the system</li>
            <li>This registration will create a new family for you (Head Of Family as you). If you want to be a member of existing family please ask them
              to add you with your email address</li>
          </ol>
        </div>
        <br/>
  
        <!-- <form name="forkForm" [formGroup]="forkForm" novalidate>
  
        
        </form> -->
      </div>
    </div>
  </div>