@import "src/app/core/scss/bk";

:host {

    width: 100% !important;
    height: 100% !important;

    #family {
        width: 100%;
        height: 100%;
        overflow: auto;        
        background-size: cover;

        #family-form-wrapper {
            flex: 1 0 auto;                      
           
            .mobile-card{                
                padding-bottom: 10px;
                padding-top: 10px;
                line-height: 1.5;
            }

            #family-form {       
                width: 100%;                         
                padding: 10px;                                                                       

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }          
                
                .famiyMemberHeader{
                    margin: 0px !important;
                }

                mat-cell{
                    overflow: visible;
                }

                .mat-table{
                    background: transparent !important;
                }
                
                form {
                    width: 100%;                    

                    mat-form-field {
                        width: 300px;
                        margin-right: 20px;
                    }

                    .submit-button {                        
                        margin: 16px;
                        display: block;                       
                    }                
                }     
            }
        }
    }
}