<div id="profile" fxLayout="column">
    <div id="profile-form-wrapper" fxLayout="column" fxLayoutAlign="top center">
      <div id="profile-form">          
        <div class="title">MY PROFILE</div>
          
        <form name="profileForm" [formGroup]="profileForm" novalidate>
  
          <div fxLayout="row" fxLayoutWrap>
            <mat-form-field>
              <input matInput [(ngModel)]="model.firstName" placeholder="First Name" formControlName="firstName" bkAutofocus>
            </mat-form-field>
  
            <mat-form-field>
              <input matInput [(ngModel)]="model.lastName" placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutWrap>
            <mat-form-field>
              <input matInput [(ngModel)]="model.email" placeholder="Email" formControlName="email">
            </mat-form-field>
  
            <mat-form-field>
              <input matInput [(ngModel)]="model.phoneNumber" placeholder="Phone Number" formControlName="phoneNumber">
            </mat-form-field>
  
            <mat-form-field>
              <input matInput [(ngModel)]="model.aadhaarNumber" placeholder="Aadhaar Number" formControlName="aadhaarNumber">
            </mat-form-field>
          </div>
            
          <div fxLayout="row" fxLayoutWrap>
            <mat-radio-group fxLayoutAlign="start center" [(ngModel)]="model.gender" formControlName="gender">
              <mat-radio-button class="mr-8" value='M'>
                Male
              </mat-radio-button>
              <mat-radio-button class="mr-8" value='F'>
                Female
              </mat-radio-button>
              <mat-radio-button class="mr-8" value='O'>
                Other
              </mat-radio-button>
            </mat-radio-group>
            
            <mat-radio-group fxLayoutAlign="start center" [(ngModel)]="model.alive" formControlName="alive">              
                <mat-radio-button class="mr-8" value='A'>
                  Alive
                </mat-radio-button>
                <mat-radio-button class="mr-8" value='D'>
                  Deceased
                </mat-radio-button>               
              </mat-radio-group>
  
            <mat-form-field>
              <input matInput [(ngModel)]="model.dob" (focus)="picker.open()" [matDatepicker]="picker" placeholder="Date Of Birth"
                formControlName="dob">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field *ngIf="model.alive === 'D'">
                <input matInput [(ngModel)]="model.dod" (focus)="dodPicker.open()" [matDatepicker]="dodPicker" placeholder="Date Of Death"
                  formControlName="dod">
                <mat-datepicker-toggle matSuffix [for]="dodPicker"></mat-datepicker-toggle>
                <mat-datepicker #dodPicker></mat-datepicker>
              </mat-form-field>
          </div>

          <!-- <button mat-raised-button (click)="processRegistration()" color="accent" class="submit-button" aria-label="REGISTER" [disabled]="registerForm.invalid">
            SAVE
          </button>
   -->
        </form>
      </div>
    </div>
  </div>