<div fxLayout="row">
    The following history of Brahmkshtriyas is based on series of  articles  written   by  Sh. Gauri Shankar Khatri, published    in "Hinglaj Jyoti" (Jodhpur) in 1980-81. The learned writer had   drawn this information from following books: 
    Shri Vishnu Puran, Hinglaj ki Yatra by Smt. Savitri Bai Verma of Karachi, Rajasthan ka Itihaas by Sh. Gopi Chand Sharma, Rajputane ka Itihas by Sh. Jagdish Singh Gehlot, Pracheen  Rajvansh ka Itihaas by Pandit Vishweshver Nath and VanshawalI Katha heard from BahI Bhhaat, Bharuch 
</div>

<ol>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ol>