<div fxLayout="row">
    <h3>The following history of Brahmkshtriyas is based on series of articles written by Sh. Gauri Shankar Khatri, published
        in "Hinglaj Jyoti" (Jodhpur) in 1980-81. The learned writer had drawn this information from following books: Shri
        Vishnu Puran, Hinglaj ki Yatra by Smt. Savitri Bai Verma of Karachi, Rajasthan ka Itihaas by Sh. Gopi Chand Sharma,
        Rajputane ka Itihas by Sh. Jagdish Singh Gehlot, Pracheen Rajvansh ka Itihaas by Pandit Vishweshver Nath and VanshawalI
        Katha heard from BahI Bhhaat, Bharuch</h3>
</div>
<div class="originTable">
    <ol>
        <li>
            <a href="#one">Four Varanas</a>
        </li>
        <li>
            <a href="#two">Trouble starts</a>
        </li>
        <li>
            <a href="#three">Parshu Ram vowes to eliminate Kshatriyas</a>
        </li>
        <li>
            <a href="#four">Shelter in Rishi Dadhichis ashram</a>
        </li>
        <li>
            <a href="#five">Raja Rattansen takes risk</a>
        </li>
        <li>
            <a href="#six">Parshu Ram visits Rishis ashram</a>
        </li>
        <li>
            <a href="#seven">Jaisen faces threat</a>
        </li>
        <li>
            <a href="#eight">Parshu Ram goes to Janakpuri</a>
        </li>
        <li>
            <a href="#nine">Kshatriyas become BrahmKshatriyas</a>
        </li>
        <li>
            <a href="#ten">Shri Hinglaj Yatra with Rishi Dadhichi</a>
        </li>
    </ol>
</div>
<div id="originContent">
    <ol>
        <li id="one">
            Four Varanas
            <p>In the ancient history, it is believed that there were four Varanas, known as Kshatriya, Brahmin, Vaish and Shudra.
                The Brahmkshatriyas were creation of Kshatriyas and the same Kshatriyas were later known as Brahmkshatriyas.</p>
            <p>It is widely known that Bhagwan Parshu Ram had vowed to eliminate Kshatriyas from the earth and he did it 21
                times. In this context one would like to know why Parshu Ram did so and how Kshatriyas survived even after
                that. In fact Rishi Jamdagini had married Renuka who belonged to Ikshwaku community. Parshu Ram, who hailed
                from Bhagwan Narain's family, was born in Rishi's house. Raja Sahastrarjun was born in the family of Kritvirya
                of Chander Vansh. He had one thousand arms, so he was named Sahastrarjun. He worshiped Dattatre and was blessed
                with five vardans: one thousands arms, fighting out Adharma, winning of whole earth, serving the people in
                accordance with dharma, victory on the enemies. He performed 10000 yajnas. It was said that there was no
                comparison of Raja Sahastrarjun in yajna, charity, worship, education, and humanity.</p>
        </li>
        <li id="two">
            Trouble starts
            <p>One day Raja Sahastrarjun went to the forest for hunting along with his army. After traveling a long distance,
                he got tired, felt thirsty and thought of taking rest. The ashram of JamdaginI was located at a little distance.</p>
            <p>Raja reached there. The Rishi welcomed him, offered water and food. The Raja saw a cow there, which was Kapila.
                The Raja asked the Rishi to hand over the cow to him, arguing that only Raja had the right to have such Kamdhenu
                cow. While turning down his request the Rishi offered to present other cows, except kamdhenu, as she was
                the dearest one to the residents of the forest. But Raja insisted on his words and forcibly took away Kamdhenu
                cow.</p>
            <p>When Rishi's son Parshu Ram returned to the ashram, he found his father totally dismayed. Parshu Ram lost his
                tamper, when his father told him about the raja's act. He said Kshatriyas are so cruel that they harassed
                even the Rishis and deprived them even of the cow who was the lifeline for them. He he will not spare the
                raja. His father tried to pacify him because the Raja was very mighty and no body could afford to fight with
                him. But Parshu Ram disagreed with his father and called an assembly of Rishi-munis. He and his associates
                went to Raja after having been blessed by the assembly and asked him to return the cow. Raja offered to compensate
                with so many other cows but refused to return cow Kapila. It followed exchange of hot words between them.
                When the Rishis, tried to take back the cow, raja's soldiers resisted the attempt and resorted to war with
                them. Parshu Ram succeeded in killing all the soldiers. The Raja himself entered the arena. He was also slained
                by Parshu Ram. The Kamdhenu cow greeted Parshu Ram with tears and returned to the ashram.</p>
        </li>
        <li id="three">
            Parshu Ram vowes to eliminate Kshatriyas
            <p>Raja sahastrarjun had 100 sons; they pledged to take revenge of their father's death. The Rishi was also sorry
                to know about the violence because, the Brahmins should not have indulged in such act, he felt. One day,
                when Parshu Ram was away to the jungle, raja's sons attacked the ashram. Rishi's wife tried to pacify them,
                but they killed the Rishi and took away his head with them. On his return from jungle Parshu Ram got agitated
                over the killing of his father and went to raja's sons. He killed 95 of them. Rest escaped in the jungle.
                Parshu Ram handed over the control of the state to a Brahmin and returned home carrying his father's head,
                which he restored on the dead body and vowed to eliminate Kshatriyas from the earth. The Rishi was cremated
                with full honours. After that Parshu Ram carrying his "Farsa"(Spade) on his shoulder and moved to fulfill
                the pledge. He started killing Kshatriyas indiscriminately and restored the control of the states to brahmins.</p>
        </li>
        <li id="four">
            Shelter in Rishi Dadhichis ashram
            <p>Parshu Ram entered Raja Rattansen's state in Sindh, which was, then, known as, Sindhu-Dweep. On getting information
                that Parshu Ram was heading towards sindh from Panchal (Punjab), Raja alerted his army. The army lost in
                the war with Parshu Ram's soldiers. Raja Rattansen escaped along with his wives in the jungle and took shelter
                in the ashram run by Rishi Dadhichi. Similarly some other rajas also took shelter there or escaped to other
                countries like Iran, Egypt, China, and Russia etc. But this could not cool down the tamper of Parshu Ram.
                He kept on moving in Sindh believing that the Kshatriyas will have to come out of the jungle. Rishi Dadhichi
                had given shelter to Raja Rattansen and queens (Chander Prabha, Budhmani, Padma, Sheo Kumari and Krishnavati),
                on the conditions that they will not cross the boundary of the ashram and accept the food whatsoever was
                available there. The raja's family was housed in a portion of the ashram. All the five queens delivered a
                son each there. They were named as Jaisen, Binduman, Vishal, Chandershal and Bharat by the Rishi.</p>
        </li>
        <li id="five">
            Raja Rattansen takes risk
            <p>After five years, Raja Rattansen went to Rishi and expressed his desire to leave the ashram, hoping that Parshu
                Ram might have cooled down by then.</p>
            <p>The Rishi smiled and said," Parshu Ram will continue the massacre for next twelve years, so it is not the time
                to go out. You should care for the education of your children." the Raja consulted his wives and handed over
                all the five sons to the Rishi. The children were educated in Vedas and Shastras. After sometime Raja also
                started, going to jungle for hunting and entertainment. Once he was following a lion and hit that with an
                arrow. In the mean while, an other arrow hit the same lion. Raja moved near the lion. Parshu Ram also reached
                there and recognized the raja. Considering him as Kshatriya, Parshu Ram challenged the Raja for fighting.
                Raja got nervous. He tried to escape, but Parshu Ram hit him with an arrow. Raja died on the spot. This gave
                Parshu Ram a clue that raja's family must be there in the same jungle also. They should also be killed he
                started searching them.</p>
            <p>When Raja did not return to the ashram, the queens asked their sons to search him out. The sons found their father
                dead and informed their mothers. The Rishi also marched with raja's family to the site and brought dead body
                to the ashram for cremation. The queens got satis when the pyre was lit.</p>
            <p>The Rishi had unsuccessfully tried to prevent them from doing so. After performing the last rites, Rishi returned
                to his ashram along with raja's sons and told them," now I am your father, I will look after you</p>
        </li>
        <li id="six">
            Parshu Ram visits Rishis ashram
            <p>After some years, Parshu Ram reached Rishi Dadhichi's ashram, while continuing his spree against Kshatriyas.
                Rishi welcomed him and offered food. In the meanwhile Parshu Ram saw the princes and asked Rishi who they
                were.</p>
            <p>Rishi said they were Rishi Kumars. Parshu Ram did not believe it and insisted that they will have to go through
                a test in the evening. Accordingly Parshu Ram called all the five boys and put some complicated questions
                to them.</p>
            <p>They were wise enough to qualify. Parshu Ram still had doubts. He asked the Rishi to take food with all the five
                boys in the same utensil, if they were really brahmin.</p>
            <p>Rishi was put to the problem but he got ready. He arranged banana leaves and sat with the boys for taking the
                food jointly. He drew a line before taking the meal to separate food for boys. Parshu Ram could not notice
                that, but this removed his doubt. Even after that, Parshu Ram took Jaisen (Jai Sharma) with him after getting
                Rishi's consent on the pretext of training him up in dhanur-vidhya (bow & arrow). Jaisen used to work as
                a security guard, as and when Parshu Ram felt asleep. He served him well and used to arrange fruits also
                from the forest</p>
            <p>After twelve years, Parshu Ram expressed his pleasure, for the services rendered by Jaisen and offered to impart
                him education in bow & arrow as well as arms.</p>
        </li>
        <li id="seven">
            Jaisen faces threat
            <p>Parshu Ram & Jaisen, reached Vivsta river, after crossing the Presani and Iskmati rivers. There, all the three
                rivers joined each other, and are now known as Ravi, Jehlam & Chainab. The rivers merge in Sindhu river near
                Mithankot. Parshu Ram liked this place and wanted to spend few days before going ahead to Janakpuri. As Parshu
                Ram got tired enough, they started taking rest in the forest of Kashyap state</p>
            <p>One day, Parshu Ram was having severe headache, put his head in Jaisen's lap, asking him to ensure safety from
                animals. When Parshu Ram was sleeping, Jaisen remembered his brothers. In the meanwhile, a scorpion attacked
                at Jaisen's leg. It caused severe pain, but he kept mum so that Parshu Ram might not feel disturbed. When
                the wound started bleeding profusely, jai's leg crumbled. This disturbed Parshu Ram's sleep. He got up and
                asked the reason for the bleeding. Jaisen explained the incident and expressed regrets. Parshu Ram was very
                shrewd. He said that the hot blood must be of a Kshatriya. He again expressed doubt over the identity of
                the boy and asked was he not a Kshatriya? Jaisen got frightened, but quietly said," you know that I was brought
                up and educated by the rishi. Now it is your choice to kill me or not." this put Parshu Ram in a quandary.
                He started thinking,"Jaisen has qualified in Vedas and shastras, so he must be a brahmin. He should not be
                killed. This will let me down in my pledge." Parshu Ram told Jai Sen, "you have achieved Brahminism so I
                won't kill you, but you will forget the Shastar-vidya, that you had learnt from me. This penalty is enough
                for you."</p>
        </li>
        <li id="eight">
            Parshu Ram goes to Janakpuri
            <p>Jaisen humbly spoke," Guru Ji, please pardon me if there is any laps in my service. If you deprive me of arms-education,
                it will spoil my life. Better you kill me in the same way, as you killed my father. A Kshatriya can't live
                without education in arms." with these words jaisen started weeping. Parshu Ram said " oh my son don't shed
                tears, you will get rid of the curse if you return to Rishi's ashram. He had educated you in vedas whereas
                I trained in you in arms. if you are blessed with the basic mantras by the Rishi, you will switch over to
                arms education also." with these words he left for janak pure</p>
            <p>Now jaisen was left alone there. In the meanwhile gautam Rishi came in and asked where Parshu Ram was. Jaisen
                narrated the events to the Rishi.</p>
            <p>Both of them started journey to Dadhichi's ashram. On the way, Jaisen expressed his disgust over the curse but
                Gautam Rishi, while consoling him, advised Jaisen, " you should adopt Rishi Dadhichi as your guru. The guru
                mantra will empower you with all sort of education.</p>
        </li>
        <li id="nine">
            Kshatriyas become BrahmKshatriyas
            <p>Rishi gautam & jaisen reached the ashram and narrated whole story. Jaisen prayed to Dadhichi Rishi to oblige
                him with guru mantra. The Rishi said,"my son, the ills done by the disciple affect the guru, so I can do
                every thing for you but can't become your guru. On this Jaisen & his brothers caught Rishi's feet and said
                that their decision was final, they won't go anywhere else. The Rishi relented and put some conditions before
                them.</p>
            <p>They will have to take pledge for strictly becoming vegetarian and teetotaler. They will be called Brahmkshatriya
                as they had been imparted education of Brahmins and Kshatriyas both. They will not harass any downtrodden
                rather help the poor and needy. Another condition was," the Brahmins of my sect (Saraswat) will be your Kulgurus.
                You will repose the same faith in my coming generations as you are having in me." Jaisen agreed to all the
                conditions. This, prompted rishi Dadhichi to act as their guru.</p>
        </li>
        <li id="ten">
            Shri Hinglaj Yatra with Rishi Dadhichi
            <p>After this, the Rishi asked Jaisen and his brothers to accompany him to Hinglaj Devi temple located in the gufa
                of saptdweep. Elaborating it the, Rishi said, this in an ancient & historic temple. Your grand parents had
                been performing pooja there because Hinglaj was your Kuldevi. Rishi and Rajkumars reached the temple and
                performed pooja with nariyal, cloth and dhoop deep. They recited the following mantra</p>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
                <img src="/assets/images/chant.png">
            </div>
            <p>Then Rishi Dadhichi obliged Raj Kumars with guru mantra and blessed them that they will recapture the lost power.
                He also said, in future whosoever pays a visit to the temple he will be bestowed with blessings. Any Brahmkshatriya,
                who forgets his Kuldevi Hinglaj, may face problems. Those who show disrespect to Sarasvat Brahmin, may also
                suffer. If the Brahmin of my sect takes liquor, eats meat, tells lies, indulge in fraud or charges more fees
                at engagement or marriages, he will be condemned. If such persons are punished by Brahmkshatriya, there will
                be nothing wrong in it. Any fraudulent and immoral person has no right to claim himself a Brahmin. I am uttering
                these words because in kalyug even the Brahmins may loose the sanctity and indulge in all the acts, which
                were prohibited by the shastras.</p>
        </li>
        <h2>This is how Kshatriyas became Brahmkshatriyas. Later some of them started introducing themselves as Khatris. But
            the fact is that Kshatriyas and Khatris are basically Brahmkshatriyas. Their Kuldevi is Sri Hinglaj Mata, Kuldev
            Sri Varun dev and Kulbrahmins are Sarswat Brahmins.</h2>
    </ol>
</div>