<div infiniteScroll [infiniteScrollContainer]="'.mainContent'" [fromRoot]="true" (scrolled)="performSearch()" fxLayout="row wrap"
    fxLayoutAlign="start stretch">
    <div class="row header" fxLayoutAlign="center center">Displaying {{results.length}} of {{totalCount}} members</div>
    <div class="bk-card matrimonyCard" *ngFor="let result of results">
        <div class="row profileHeader" fxLayoutAlign="start center">
            <img class="avatar" (click)="showPhoto(result)" src="{{result.photoUrl}}" />
            <div class="h4">
                <a [routerLink]="['/matrimony-view/', result.memberId]">{{result.name}}</a>
            </div>
            <div fxLayoutAlign="start center">
                <a [routerLink]="['/family', result.familyId]">
                    <button matTooltip="Family Detail" mat-icon-button>
                        <mat-icon>group</mat-icon>
                    </button>
                </a>
            </div>
        </div>
        <div class="contentItem pt-0 line-height-1.75">
            <div class="h4">Age</div>
            <div class="h5 secondary-text">{{result.age}} Years</div>
        </div>
        <div class="contentItem pt-0 line-height-1.75">
            <div class="h4">Education</div>
            <div class="h5 secondary-text">{{result.education}}&nbsp;</div>
        </div>
        <div class="contentItem pt-0 line-height-1.75">
            <div class="h4">Occupation</div>
            <div class="h5 secondary-text">{{result.occupation}}&nbsp;</div>
        </div>
        <div class="contentItem pt-0 line-height-1.75">
            <div class="h4">Monthly Income</div>
            <div class="h5 secondary-text">{{result.monthlyIncome}}&nbsp;</div>
        </div>
        <div class="contentItem pt-0 line-height-1.75">
            <div class="h4">Address</div>
            <div class="h5 secondary-text">{{result.address1}}</div>
            <div class="h5 secondary-text">{{result.address2}}</div>
        </div>
    </div>
    <div class="row footer" fxLayoutAlign="center center" *ngIf="!hasResult">END OF SEARCH RESULT</div>
</div>

<matrimony-search-options [searchParameter]="searchParameter" (performSearch)="search()" (clearSearch)="clear()">

</matrimony-search-options>