<div fxLayout="row wrap" fxLayoutAlign="center center">
  <img src="assets/images/mata.jpg">
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <img src="assets/images/chant.png">
</div>

<p>LOCATION : Shri Hinglaj is a Hindu holy place situated at a distance of 120 km north east of Karachi. The area actually is
  a part of Balochistan province of Pakistan. Hingol River falls on its way in Makran hills.</p>

<p>MYTH : According to the history given in the holy books Sati, a daughter of Raja Daksh was married to Lord Shiva. Once the
  Raja arranged Brahspati Sav-Yajna at Kankhal near Haridwar. Brahma was the chief guest. Daksh invited all the Devtas but
  totally ignored Shiva who was known as Supreme among the Devtas. Narad Muni flashed this message to Sati and Shiva. They
  felt insulted. But even then Sati insisted that they should join the Yajna since there was no harm in going to fathers
  residence for a daughter even if she had not been invited.</p>

<p>Lord Shiva refused to accompany her but said he wont mind if Sati insisted on attending Raja Dakshs Yajna. Sati could not
  restrain herself and went to Kankhal,. She found that no space had been earmarked for her husband at the Yajna site. No
  body attended her rather she had to listen derogatory remarks from her father for her husband. Feeling highly insulted,
  Sati immolated herself in the Yajna-Kund.</p>

<p>When Lord Shiva learnt about the immolation, he sent his messengers to disturb the Yajna. They created panic there and separated
  Dakshs head from his body, the same head was later thrown in to the Yajna-Kund. Later Shiva took her wife's dead body on
  his shoulders and started wandering in the hilly areas , dancing about like a demented creature. The angles, fearing a
  premature end of the world, approached Lord Vishnu requesting him to contain lord Shiva so that the living world could
  be saved. Lord Vishnu converted Satis dead body into pieces. Wherever a piece fell down, a Shakti Peeth developed there.
  This was how 52 Shakti Peeths emerged in undivided Hindustan. Shri Hinglaj is one of them.</p>

<p>Since, according to the myth, Satis head with its Hingul (Sindhoor, Vermillion) fell at this place on the hills, it was named
  as Hingul Parvat and the Peeth was known as Shri Hinglaj Mata Asthan. This Peeth is considered supreme because Satis head
  had fallen here.</p>

<p>It is believed that Lord Rama, Sita and Lakshman visited this peeth during Banvas.</p>

<p>After creation of Pakistan, the govt. had declared it a prohibited area for residents of India but devotees residing in Pakistan
  and other foreign countries still take holy pilgrimage to the Peeth starting from Shri Swaminarayan Mandir complex in Karachi
  during Navratras in the month of April. Like Amarnath Yatra in Jammu and Kashmir, the Hinglaj Yatra is also considered
  difficult-one but those who perform it, are blessed heavily by the Mata.</p>

<p>As already defined, Brahmkshatriyas on their creature from Kshatriyas were told by Rishi Dadhichi that Hinglaj Devi would
  be their Kuldevi and they should worship the Goddess Hinglaj for all times to come.</p>
<mat-divider></mat-divider>