@import "app/core/scss/core";

//this to fix underline hidden issue when browser zoom level changes
.mat-form-field-underline{
    transform: perspective(1px);
}

.bk-large-card {                
    @include mat-elevation(7);
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}