@import "app/core/scss/core";

//this to fix underline hidden issue when browser zoom level changes
.mat-form-field-underline{
    transform: perspective(1px);
}

.bk-large-card {                
    @include mat-elevation(7);
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.87);
}

.mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
}

mat-dialog-container{
    min-width: 300px;
}