@import "src/app/core/scss/bk";

:host {

    width: 100% !important;
    height: 100% !important;
    
    #register {
        width: 100%;        
        height: 100%;
        overflow: auto;        
        background-size: cover;

        #register-form-wrapper {
            flex: 1 0 auto;                

            .information ol{
                padding-left: 15px;
            }

            #register-form {
          
                padding: 10px;

                .logo {
                    width: 128px;
                    margin: 20px auto;
                }

                .title {
                    font-size: 20px;
                    margin: 20px 0 20px 0;
                }

                form {
                    width: 100%;                    

                    mat-form-field {
                        width: 300px;
                        margin-right: 20px;
                    }                   
                  
                    .submit-button {
                        width: 220px;
                        margin: 16px auto;
                        display: block;                       
                    }

                    .captchaMessage{
                        font-size: 75%;
                        font-weight: 400;                        
                        font-family: Roboto, "Helvetica Neue", sans-serif;                        
                        color: #f44336 !important;
                    }
                }
        
                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 24px auto;
                    position: relative;
                    overflow: hidden;
                    width: 100px;
                    color: rgba(0, 0, 0, 0.54);

                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;

                        &:before, &:after {
                            content: '';
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid rgba(0, 0, 0, 0.12);
                        }

                        &:before {
                            right: 100%;
                        }

                        &:after {
                            left: 100%;
                        }
                    }
                }              
            }
        }
    }
}