<div id="register" fxLayout="column">
  <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="top center">
    <div id="register-form">
      <div class="logo">
        <img src="assets/images/logo_2.png">
      </div>

      <div class="title">MEMBER REGISTRATION FORM</div>

      <div class="information" fxLayout="column" fxLayoutAlign="top left">
        <ol>
          <li>Please provide correct email address. You will receive your login information on provided email address</li>
          <li>Try to provide both Phone number and Aadhaar number to keep you unique in the system</li>
          <li>This registration will create a new family for you (Head Of Family as you). If you want to be a member of existing
            family please ask them to add you with your email address</li>
        </ol>
      </div>
      <br/>

      <form name="registerForm" [formGroup]="registerForm" novalidate>

        <div fxLayout="row wrap">
          <mat-form-field>
            <input matInput [(ngModel)]="formModel.firstName" placeholder="First Name" formControlName="firstName" bkAutofocus>
            <mat-error *ngIf="registerForm.controls['firstName'].hasError('required')">Please enter a first name</mat-error>
            <mat-error *ngIf="registerForm.controls['firstName'].hasError('noWhitespace')">Only letters with no space</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="formModel.lastName" placeholder="Last Name" formControlName="lastName">
            <mat-error *ngIf="registerForm.controls['lastName'].hasError('required')">Please enter a last name</mat-error>
            <mat-error *ngIf="registerForm.controls['lastName'].hasError('noWhitespace')">Only letters with no space</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap">
          <mat-form-field>
            <input matInput [(ngModel)]="formModel.email" placeholder="Email" formControlName="email">
            <mat-error *ngIf="registerForm.controls['email'].hasError('email')">Please enter a valid email address</mat-error>
            <mat-error *ngIf="registerForm.controls['email'].hasError('required')">Please enter a email address</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="formModel.phoneNumber" placeholder="Phone Number" formControlName="phoneNumber">
            <mat-error *ngIf="registerForm.controls['phoneNumber'].hasError('noWhitespace')">Only numbers without white space</mat-error>
            <mat-error *ngIf="registerForm.controls['phoneNumber'].hasError('isNumber')">Please enter a valid phone number</mat-error>
            <mat-error *ngIf="registerForm.controls['phoneNumber'].hasError('required')">Please enter a valid phone number</mat-error>            
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="formModel.aadhaarNumber" placeholder="Aadhaar Number" formControlName="aadhaarNumber">
            <mat-error *ngIf="registerForm.controls['aadhaarNumber'].hasError('isNumber')">Please enter a valid aadhaar number</mat-error>
            <mat-error *ngIf="registerForm.controls['aadhaarNumber'].hasError('noWhitespace')">Only numbers without white space</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap">
          <mat-form-field>
            <mat-select placeholder="Category" [(ngModel)]="formModel.categoryId" formControlName="categoryId">
              <mat-option *ngFor="let n of CATEGORIES_DATA_LOCAL" [value]="n.id">
                {{ n.category }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['categoryId'].hasError('required')">Please provide a category</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Nukh" [(ngModel)]="formModel.nukhId" formControlName="nukhId">
              <mat-option *ngFor="let n of NUKHS_LOOKUP_DATA_LOCAL" [value]="n.id">
                {{ n.nukh }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registerForm.controls['nukhId'].hasError('required')">Please provide a nukh</mat-error>
          </mat-form-field>
        </div>
        <span class="gender">Gender</span>
        <div fxLayout="row wrap">
          <mat-radio-group fxLayoutAlign="start center" [(ngModel)]="formModel.gender" formControlName="gender">
            <mat-radio-button class="mr-8" value='M'>
              Male
            </mat-radio-button>
            <mat-radio-button class="mr-8" value='F'>
              Female
            </mat-radio-button>
            <mat-radio-button class="mr-8" value='O'>
              Other
            </mat-radio-button>
          </mat-radio-group>

          <mat-form-field>
            <input matInput [(ngModel)]="formModel.dob" (focus)="picker.open()" [matDatepicker]="picker" placeholder="Date Of Birth"
              formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="registerForm.controls['dob'].hasError('required')">Please provide a date of birth</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap">
          <mat-form-field>
            <input matInput [(ngModel)]="formModel.address1" placeholder="Address 1" formControlName="address1">
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="formModel.address2" placeholder="Address 2" formControlName="address2">
          </mat-form-field>
        </div>
        <div fxLayout="row wrap">

          <mat-form-field>
            <input matInput [(ngModel)]="formModel.city" placeholder="City" formControlName="city">
            <mat-error *ngIf="registerForm.controls['city'].hasError('required')">Please provide a city</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="formModel.state" placeholder="State" formControlName="state">
            <mat-error *ngIf="registerForm.controls['state'].hasError('required')">Please provide a state</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="formModel.postalCode" placeholder="Postal Code" formControlName="postalCode">
            <mat-error *ngIf="registerForm.controls['postalCode'].hasError('required')">Please provide a postal code</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="formModel.country" placeholder="Country" formControlName="country">
            <mat-error *ngIf="registerForm.controls['country'].hasError('required')">Please provide a country</mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button (click)="processRegistration()" color="accent" class="submit-button" aria-label="REGISTER">
          REGISTER
        </button>

      </form>
    </div>
  </div>
</div>