@import "src/app/core/scss/bk";

:host {

    width: 100% !important;
    height: 100% !important;

    #family {
        width: 100%;
        height: 100%;
        overflow: auto;        
        background-size: cover;

        #family-form-wrapper {
            flex: 1 0 auto;                        

            mat-table{
                text-align: left !important;
            }

            mat-cell:last-child, mat-header-cell:last-child{
                padding-right: 0px;
            }

            mat-cell:first-child, mat-header-cell:first-child{
                padding-left: 0px;
            }
          
            .mat-table{
                background: inherit !important;
            }

            #largeScreen{
            .mat-column-memberId
            {
                flex: 0 0 4%;
            }

            .mat-column-name
            {
                flex: 0 0 15%;
            }

            .mat-column-age
            {
                flex: 0 0 7%;
            }
    
            .mat-column-maritalStatusId
            {
                flex: 0 0 9%;
            }

            .mat-column-relation
            {
                flex: 0 0 18%;
            }

            .mat-column-paternal
            {
                flex: 0 0 20%;
            }

            .mat-column-maternal
            {
                flex: 0 0 20%;
            }

            .mat-column-actions
            {
                flex: 0 0 7%;
            }
        }

            .mobile-card{                
                padding-bottom: 10px;
                line-height: 2;
            }

            #family-form {       
                width: 100%;                         
                padding: 10px;
                text-align: center;                                                      

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }          
                
                .famiyMemberHeader{
                    margin: 0px !important;
                }
                
                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 300px;
                        margin-right: 20px;
                    }

                    .submit-button {                        
                        margin: 16px;
                        display: block;                       
                    }                                     
                }     
            }
        }
    }
}