@import "src/app/core/scss/fuse";

:host {

    width: 100% !important;
    height: 100% !important;

    #family {
        width: 100%;
        height: 100%;
        overflow: auto;        
        background-size: cover;

        #family-form-wrapper {
            flex: 1 0 auto;            

            @include media-breakpoint('xs') {
                padding: 16px 5px 16px 5px;
            }

            mat-table{
                text-align: left !important;
            }

            .bk-card {                
                @include mat-elevation(7);
                padding: 16px;
            }

            mat-header-row{
                padding: 0px;
            }

            mat-row{
                padding: 0px;
            }

            #family-form {       
                width: 100%;                
                text-align: center;
                background: #FFFFFF;                

                @include media-breakpoint('xs') {                    
                    width: 100%;
                }                            

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }          
                
                .famiyMemberHeader{
                    margin: 0px !important;
                }
                
                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 300px;
                        margin-right: 20px;
                    }

                    .submit-button {                        
                        margin: 16px;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                  
                    mat-radio-group{
                        margin-right: 20px;
                        margin-bottom: 20px;
                        width: 300px;                        
                    }
                }     
            }
        }
    }
}