@import "src/app/core/scss/fuse";

:host {

    width: 100% !important;
    height: 100% !important;

    #family {
        width: 100%;
        height: 100%;
        overflow: auto;        
        background-size: cover;

        #family-form-wrapper {
            flex: 1 0 auto;            

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            mat-table{
                text-align: left !important;
            }

            mat-cell:last-child, mat-header-cell:last-child{
                padding-right: 0px;
            }

            mat-cell:first-child, mat-header-cell:first-child{
                padding-left: 0px;
            }

            .bk-card {                
                @include mat-elevation(7);
                padding: 16px 16px 16px 16px;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .mat-table{
                background: inherit !important;
            }

            .mat-column-memberId
            {
                flex: 0 0 5%;
            }

            .mat-column-name
            {
                flex: 0 0 16%;
            }

            .mat-column-age
            {
                flex: 0 0 7%;
            }

            .mat-column-married
            {
                flex: 0 0 6%;
            }

            .mat-column-relation
            {
                flex: 0 0 19%;
            }

            .mat-column-paternal
            {
                flex: 0 0 20%;
            }

            .mat-column-maternal
            {
                flex: 0 0 20%;
            }

            .mat-column-actions
            {
                flex: 0 0 7%;
            }

            .mobile-card{                
                padding-bottom: 10px;
                line-height: 1.5;
            }

            #family-form {       
                width: 100%;                         
                padding: 16px 32px 16px 32px;
                text-align: center;                                

                @include media-breakpoint('xs') {
                    padding-left: 0px;
                    padding-right: 0px;
                    width: 100%;
                }                            

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }          
                
                .famiyMemberHeader{
                    margin: 0px !important;
                }
                
                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 300px;
                        margin-right: 20px;
                    }

                    .submit-button {                        
                        margin: 16px;
                        display: block;

                        @include media-breakpoint('xs') {
                            
                        }
                    }
                  
                    mat-radio-group{
                        margin-right: 20px;
                        margin-bottom: 20px;
                        width: 300px;                        
                    }
                }     
            }
        }
    }
}