<div id="family" fxLayout="column">
  <div id="family-form-wrapper" fxLayout="column" fxLayoutAlign="top center">
    <div id="family-form">
      <div class="title">MY FAMILY</div>
      <mat-form-field>
        <mat-select placeholder="Family" (change)="loadFamily($event)" [(ngModel)]="currentFamilyId">
          <mat-option *ngFor="let n of familyLookup" [value]="n.familyId">
            {{ n.hof }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <form name="familyForm" [formGroup]="familyForm" novalidate>
        <div fxLayout="row" fxLayoutWrap>
          <mat-form-field>
            <mat-select placeholder="Category" [(ngModel)]="model.categoryId" formControlName="categoryId">
              <mat-option *ngFor="let n of categories.data" [value]="n.id">
                {{ n.category }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Nukh" [(ngModel)]="model.nukhId" formControlName="nukhId">
              <mat-option *ngFor="let n of nukhs.data" [value]="n.id">
                {{ n.nukh }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutWrap>
          <mat-form-field>
            <input matInput [(ngModel)]="model.address1" placeholder="Address 1" formControlName="address1">
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="model.address2" placeholder="Address 2" formControlName="address2">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutWrap>

          <mat-form-field>
            <input matInput [(ngModel)]="model.city" placeholder="City" formControlName="city">
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="model.state" placeholder="State" formControlName="state">
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="model.postalcode" placeholder="Postal Code" formControlName="postalCode">
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="model.country" placeholder="Country" formControlName="country">
          </mat-form-field>
        </div>
        <div *ngIf="editMode" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button (click)="saveFamily()" color="accent" class="submit-button" aria-label="SAVE" [disabled]="familyForm.invalid">
              SAVE
            </button>
            <button mat-raised-button (click)="cancelEdit()" class="submit-button" aria-label="CANCEL">
              CANCEL
            </button>
          </div>
          <div *ngIf="!editMode" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button (click)="edit()" color="accent" class="submit-button" aria-label="EDIT">
              EDIT
            </button>
          </div>
      </form>     
    </div>
  </div>
</div>