
<div infiniteScroll [infiniteScrollContainer]="'.mainContent'" [fromRoot]="true" (scrolled)="performSearch()" fxLayout="row wrap" fxLayoutAlign="start stretch">
  <div class="row header" fxLayoutAlign="center center">Displaying {{results.length}} of {{totalCount}} members</div>   
  <div class="fuse-card memberCard" *ngFor="let result of results">      
      <div class="row profileHeader" fxLayoutAlign="start center">
          <img class="avatar" src="{{result.photoUrl}}" />
          <div class="h4"><a [routerLink]="['/member/', result.familyId, result.memberId]">{{result.name}}</a></div>
      </div>      
      <div class="h5">{{result.address1}}</div>
      <div class="h5">{{result.address2}}</div>
  </div>  
  <div class="row footer" fxLayoutAlign="center center" *ngIf="!hasResult">END OF SEARCH RESULT</div>
</div>

<member-search-options (performSearch)="search($event)" (clearSearch)="clear($event)">

</member-search-options>