.memberCard
{
    margin: 10px;
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
}

.avatar{
    border-radius: 50%;
}

.profileHeader{
    padding-bottom: 10px;
}

.header{
    padding: 10px 0px 10px 0px;    
    color: #ffa726 ;
    width: 100%;
}

.footer{    
    padding: 10px 0px 10px 0px;
    color: #ffa726;
    width: 100%;
}