fuse-theme-options{
    margin-top: 30px;
}

.memberCard
{
    margin: 10px;
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
}

.avatar{
    border-radius: 50%;
}

.profileHeader{
    padding-bottom: 10px;
}