<div id="reset-password" fxLayout="column">
  <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div id="reset-password-form">

      <div class="logo">
        <img src="assets/images/logo_2.png">
      </div>

      <div class="title">RESET YOUR PASSWORD</div>

      <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

        <mat-form-field>
          <input matInput placeholder="New Password" formControlName="newPassword" type="password" bkAutofocus>          
          <mat-error *ngIf="resetPasswordForm.controls['newPassword'].hasError('required')">Please enter a new password</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Confirm New Password" formControlName="confirmPassword" type="password">
          <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required')">Please retype new password</mat-error>
        </mat-form-field>

        <button mat-raised-button (click)="resetPassword()" class="submit-button" color="accent" aria-label="SEND RESET LINK">
          RESET PASSWORD
        </button>
      </form>
    </div>
  </div>
</div>