<p>We have drawn information regarding sub castes/ Nukhs from different publications of Hindi and Gujarati including Marwari
  Brahmkshatriya Directory 1988 edited by Sh. Sukhdeo Prasad Kiri and published by Akhil Bhartiya Marwari Brahmkshtriya Mahasabha
  H.Q. Jodhpur. There is scope of spelling mistakes. We might have missed some facts, for updating the same your kind cooperation
  is solicited</p>
<h2>Divisions (Mool Shakhas) And Sub - Divisions (Nukhs) Of Brahmkshatriya Community</h2>
<div class="mat-elevation-z8" fxShow fxHide.lt-md>
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="mainNukh">
      <mat-header-cell *matHeaderCellDef>
        <b>Main Nukhs</b>
      </mat-header-cell>
      <mat-cell *matCellDef="let nukh">
        <b>{{nukh.mainNukh}}</b>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh1">
      <mat-header-cell *matHeaderCellDef>
        <b>Sub Nukhs</b>
      </mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh1}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh2">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh2}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh3">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh3}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh4">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh4}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh5">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh5}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh6">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh6}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh7">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh7}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh8">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh8}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh9">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh9}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh10">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh10}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh11">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh11}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="subNukh12">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let nukh">{{nukh.subNukh12}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start stretch"  fxHide fxShow.lt-md>  
    <div *ngFor="let nukh of dataSource.filteredData"  class="bk-card nukhCardContainer">            
        <div class="p-16">
            <div class="h1">{{nukh.mainNukh}}</div>      
        </div>    
        <div class="p-16 pt-0 line-height-1.75">
          Sub Nukhs:
            <ol>
              <li *ngIf=nukh.subNukh1>{{nukh.subNukh1}}</li>
              <li *ngIf=nukh.subNukh2>{{nukh.subNukh2}}</li>
              <li *ngIf=nukh.subNukh3>{{nukh.subNukh3}}</li>
              <li *ngIf=nukh.subNukh4>{{nukh.subNukh4}}</li>
              <li *ngIf=nukh.subNukh5>{{nukh.subNukh5}}</li>
              <li *ngIf=nukh.subNukh6>{{nukh.subNukh6}}</li>
              <li *ngIf=nukh.subNukh7>{{nukh.subNukh7}}</li>
              <li *ngIf=nukh.subNukh8>{{nukh.subNukh8}}</li>
              <li *ngIf=nukh.subNukh9>{{nukh.subNukh9}}</li>
              <li *ngIf=nukh.subNukh10>{{nukh.subNukh10}}</li>
              <li *ngIf=nukh.subNukh11>{{nukh.subNukh11}}</li>
              <li *ngIf=nukh.subNukh12>{{nukh.subNukh12}}</li>
            </ol>
        </div>        
  </div>
</div>