<div id="change-password" fxLayout="column">
  <div id="change-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div id="change-password-form">

      <div class="logo">
        <img src="assets/images/logo_2.png">
      </div>

      <div class="title">CHANGE YOUR PASSWORD</div>

      <form name="changePasswordForm" [formGroup]="changePasswordForm" novalidate>

        <mat-form-field>
          <input [(ngModel)]="formModel.currentPassword" matInput placeholder="Current Password" formControlName="currentPassword"
            type="password" bkAutofocus>
        </mat-form-field>

        <mat-form-field>
          <input [(ngModel)]="formModel.newPassword" matInput placeholder="New Password" formControlName="newPassword" type="password">
          <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('minLength')">Minimum 6 characters required</mat-error>          
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Confirm New Password" formControlName="confirmPassword" type="password">          
          <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('mismatchedPasswords')">Confirm Password do not match</mat-error>          
        </mat-form-field>      

        <button mat-raised-button (click)="changePassword()" class="submit-button" color="accent" aria-label="CHANGE PASSWORD">
          CHANGE PASSWORD
        </button>
      </form>
    </div>
  </div>
</div>