<div id="forgot-password" class="forgotPasswordContainer" fxLayout="column">
    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="forgot-password-form">

            <div class="logo">
                <img src="assets/images/logo_2.png">
            </div>

            <div class="title">RECOVER YOUR PASSWORD</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" bkAutofocus>
                    <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('email')">Please enter a valid email address</mat-error>
                    <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">Please enter a email address</mat-error>
                </mat-form-field>

                <button mat-raised-button (click)="processForgotPassword()" class="submit-button" color="accent" aria-label="SEND RESET LINK">
                    SEND RESET LINK
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Go back to login</a>
            </div>
        </div>
    </div>
</div>