<?xml version="1.0" encoding="utf-8"?>
<loggingConfiguration name="AppLogger" tracingEnabled="true" defaultCategory="Exception">
  <listeners>
    <add name="Rolling Flat File Exception Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="Exceptions.log" formatter="Exception" rollInterval="None"
      rollSizeKB="10240" />
    <add name="Rolling Flat File Logger Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="logger.log" formatter="Logger" rollInterval="None"
      rollSizeKB="10240" />    
    <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        toAddress="pareshvarde@yahoo.com;" fromAddress="brahmkshatriyaportal@gmail.com"
        subjectLineStarter="BK" subjectLineEnder="&lt;EOM&gt;"
        smtpServer="smtp.gmail.com" smtpPort="587" formatter="Exception"
        authenticationMode="UserNameAndPassword" useSSL="true" userName="brahmkshatriyaportal@gmail.com"
        password="L4ndm4rk^1" asynchronous="true" />
  </listeners>
  <formatters>
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
      name="Exception" />
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
      name="Logger" />    
  </formatters>
  <categorySources>
    <add switchValue="All" name="Exception">
      <listeners>
        <add name="Rolling Flat File Exception Listener" />
        <add name="Email Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="LogOnly">
      <listeners>
        <add name="Rolling Flat File Exception Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="Logger">
      <listeners>
        <add name="Rolling Flat File Logger Listener" />
      </listeners>
    </add>    
  </categorySources>
  <specialSources>
    <allEvents switchValue="All" name="All Events" />
    <notProcessed switchValue="All" name="Unprocessed Category" />
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="Rolling Flat File Exception Listener" />
        <add name="Email Trace Listener" />
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>
