<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="FluentScheduler" version="5.3.0" targetFramework="net452" />
  <package id="FluentValidation" version="8.0.0" targetFramework="net452" />
  <package id="FluentValidation.ValidatorAttribute" version="8.0.0" targetFramework="net452" />
  <package id="FluentValidation.WebApi" version="8.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.5" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Cors" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net452" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="Thinktecture.IdentityModel.Core" version="1.4.0" targetFramework="net452" />
</packages>